.table td {text-align: center;}
.year{font-size: 44px;}
.previousyear, .nextyear{cursor: pointer;}
.yellow{color: #FFC300;font-weight: bold;cursor: pointer;}
.purple{color: #A020F0;font-weight: bold;cursor: pointer;}
.skye{color: #87CEEB;font-weight: bold;cursor: pointer;}
.holiday{color: red; font-weight: bold;}
.green{background-color: green !important}
.clddates{cursor: pointer;}
.schedulemodel{float: left;margin-left: 6% !important;}
.addTodo{width: 100%;margin-top: 10px;}
.delteTodo{cursor: pointer;color: red;}
.todo-details{width: 100%;}
.schedulemodel .modal-content{width: 80%;}
.todoRow{margin-bottom: 10px;}
.schedules{font-weight: bold;}